@(user: com.madgag.scalagithub.model.User, organ: com.madgag.scalagithub.model.Org, accountRequirements: Iterable[lib.AccountRequirement])
@import lib.Implicits._

Hi @user.atLogin - you're a member of [@{organ.displayName}](https://github.com/@{organ.login})'s organisation on GitHub, but our audit-bot has noticed your GitHub account isn't fully set up to meet the standards we need.

If you're no longer supposed to be a member of the organisation, please use your [GitHub organisation settings](https://github.com/settings/organizations) page to leave.

Otherwise, we just need you to help us with a few things to keep our code safe and secure on GitHub:

@for(requirement<-accountRequirements) {
* @requirement.fixSummary(organ)
}

You have a limited amount of time to fix these issues, otherwise you'll be automatically removed from this organisation.

Thanks for helping us out - it makes our lives a lot easier, and help keeps our code secure!
