@(ghAuthUrl: String, apiKeyForm: Form[String], error: Option[String] = None)(implicit req: Request[AnyContent])
@import helper._
@import helper.twitterBootstrap._
@main {
    <div class="row">
        @if(error.isDefined) {
        <div class="alert alert-danger">
            <p>@error.get</p>
        </div>
        }
        <div class="col-md-12 text-center">
            <h2>Audit Your GitHub Organisation</h2>
            <p>Paste in a GitHub <a href="https://help.github.com/articles/creating-an-access-token-for-command-line-use#creating-a-token">access token</a>
                (scope: <code>repo</code>, <code>write:org</code>) :</p>
            @helper.form(action = routes.Application.storeApiKey, 'class -> "form") {
            @CSRF.formField
            <div class="input-group">
                <input type="text" id="apiKey" name="apiKey" value="" size="40" maxlength="40" pattern="[0-9A-Fa-f]{40}" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div>
            }
            <p>or</p>
            <a href="@ghAuthUrl"><button class="btn btn-primary">Log In via GitHub!</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>What is <i>gu:who?</i></h3>
            <p><i>gu:who</i> is an audit bot for the membership of your GitHub Organisation.
                It checks all users in your organisation, and raises a
                <a href="https://github.com/gu-who-demo-org/people/issues/3">GitHub issue</a>
                for anyone who doesn't meet the basic security requirements:
            </p>
            <ul>
                <li><strong>Two-Factor-Authentication</strong> <em><a href="https://help.github.com/articles/about-two-factor-authentication">enabled</a></em></li>
                <li>a <strong>Full Name</strong> in their <a href="https://github.com/settings/profile">GitHub profile</a>
                    - helping you identify users you <em>can't identify by username alone</em></li>
                <li><strong>Sponsor</strong> - a more senior member of staff adds the user to the
                    <a href="https://github.com/gu-who-demo-org/people/blob/master/users.txt">users.txt</a> file,
                    <em><a href="https://github.com/gu-who-demo-org/people/blame/master/users.txt">taking responsibility via git-blame</a></em>
                    for the user being in the organisation</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Prerequisites</h3>
            <p>Your GitHub organisation must have a repo called 'people'
                (see <a href="https://github.com/gu-who-demo-org/people">gu-who-demo-org/people</a> for an example)
                where <i>gu:who</i> can have an audit trail for who's meant to be in this organisation - and a
                place to <a href="https://github.com/gu-who-demo-org/people/issues">open issues</a> for
                security-problem users.

                For security purposes, we recommend this be a 'private' repo,
                as all the (potentially vulnerable) members of your org will be visible in it's issues.</p>
        </div>
    </div>
}