@(orgs: List[org.kohsuke.github.GHOrganization], user: org.kohsuke.github.GHUser, accessToken: String)(implicit req: Request[AnyContent])
@import lib.Implicits._
@import helper._
@import helper.twitterBootstrap._

@main {
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3>Audit your organisation</h3>
            <p class="alert-warning">You're running <i>gu:who</i> as <a href="http://github.com/@user.getLogin">@user.atLogin</a>.
             All GitHub issues raised by <i>gu:who</i> will appear to be raised by this account.
            </p>
            @for(org <- orgs) {
                @form(routes.Application.audit(org.getLogin, accessToken)) {
                    @CSRF.formField
                    <div class="gh-org">
                        <img src="@org.getAvatarUrl()" height="60px">
                        <button class="btn btn-xs btn-primary gh-org-btn" value="submit">@org.displayName</button>
                    </div>
                }
            }
        </div>
    </div>
}