@(content: Html)
<!DOCTYPE html>
<html>
<head>
    <title>gu:who</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#"><i>gu:who?</i></a>
    </nav>
    <div class="body container">
        @content
    </div>
    <footer class="gw-footer">
        <div class="container">
            <ul class="gw-footer-links">
                <li><a href="https://github.com/guardian/gu-who">GitHub</a></li>
                <li>&middot;</li>
                <li><a href="http://www.theguardian.com/info/developer-blog/2014/apr/11/how-the-guardian-uses-github-to-audit-github">Guardian blogpost</a></li>
                <li>&middot;</li>
                <li><a href="https://prout-bot.herokuapp.com/">prout</a> - is your pull request out?</li>
                <li>&middot;</li>
                <li><a href="http://rtyley.github.io/bfg-repo-cleaner/">The BFG</a> (remove unwanted Git data)</li>
            </ul>
            <p></p>
        </div>
    </footer>
    <!-- @app.BuildInfo.gitCommitId -->
</body>
</html>