@(organ: org.kohsuke.github.GHOrganization, update: lib.MemberUserUpdate)

@if(update.fixedRequirements.nonEmpty) {
Thanks for fixing those requirements (ie @update.fixedRequirements.map(_.issueLabel).mkString(", ")).} @if(update.issueCanBeClosed) { Closing this issue, you're good to go! :sparkles:
} else { These are the remaining requirements you need to address:

@for(requirement<-update.currentProblems) {
* @requirement.fixSummary(organ)
}

@if(update.orgMembershipWillBeConcealed) {
We've made your membership of @(organ.getName)'s organisation on GitHub non-public, to make it less likely an attacker can find it.

Once you've addressed the requirements above, you (and [only](https://developer.github.com/v3/orgs/members/#publicize-a-users-membership) you) can [re-publicise your membership](https://github.com/orgs/@(organ.getLogin)/members) if it's appropriate.
}
}
